@{
    ViewData["Title"] = "Home Page";
}

<div class="row container">
    <div class="col-4 text-center">
        <h5>INVESTMENT NEED ASSESSMENT</h5>
        <i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
        <p>
            The first step for proper investment planning starts with assessing your actual need for investment. We would help you to know how much you need to save tomeaningfully fulfill your responsibilities in life and also achieve your prominent financial objectives /goals in life.
        </p>
    </div>
    <div class="col-4 text-center">
        <h5>WEALTH MANAGEMENT</h5>
        <i class="fa fa-inr fa-5x" aria-hidden="true"></i>
        <p>
            Wealth management is a broach subject and it covers broad areas of wealth creation, retention and management. Our role would be to engage with in planning and executing solutions and strategies for achieving your multiple financial objectives
        </p>
    </div>
    <div class="col-4 text-center">
        <h5>PRODUCTS DISTRIBUTION</h5>
        <i class="fa fa-tachometer fa-5x" aria-hidden="true"></i>
        <p>
            Every planning or solution needs proper execution to fructify into desired results. As financial product distributors, we offer you access to a wide range of financial and non-financial products that will help you to implement your plans effectively and more importantly, as per your risk.
        </p>
    </div>
</div>
