@{
    ViewData["Title"] = "AboutUs Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="dashboard_header">ABOUT US</h4>


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-delivery-tab" data-toggle="pill" href="#pills-delivery" role="tab" aria-controls="pills-delivery" aria-selected="true">Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-process-tab" data-toggle="pill" href="#pills-process" role="tab" aria-controls="pills-process" aria-selected="false">Why Us ?</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-timeline-tab" data-toggle="pill" href="#pills-timeline" role="tab" aria-controls="pills-timeline" aria-selected="false">Our Timeline</a>
    </li>
</ul>
<div class="tab-content mt-4" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-delivery" role="tabpanel" aria-labelledby="pills-delivery-tab">
        <div class="row">
            <div class="col-md-6 aboutus-img mt-2">
                <img src="./images/1.png" class="img-fluid" alt="" style="width:600px; height:350px" />
            </div>
            <div class="col-md-6">
                <p class="text-justify"> We have incorporated our firm in the year 2004; and at present having 800+families as satisfied clients. We will help clients to achieve their Financial goals with effective and smart investment planning.</p>
                <p class="text-justify"> We are certified Financial Planner(CFPCM) and Wealth Manager, Mutual Fund and Insurance consultants recognized by the NSE National Stock Exchange, AMFI (Association of Mutual Fund of India).</p>
                <p class="text-justify"> We offer comprehensive financial advisory services, having highly qualified and experienced team of financial advisors. We use our complete knowledge of insurance, tax laws, and mutual fund investments in order to suggest investment options to the clients, as per their long-term and short-term goals.</p>
                <p class="text-justify"> Our core purpose is to provide fast track financial solutions & thereby make people enjoy a secured retirement life.</p>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-process" role="tabpanel" aria-labelledby="pills-process-tab">
        <div class="row">

            <div class="col-md-4 aboutus-img">
                <img src="./images/1.png" class="img-fluid" style="width:300px;height:500px" alt="" />
            </div>
            <div class="col-md-8">
                <div>
                    <p class="text-justify">
                        Why should we be your financial advisors /product distributors? This is a very relevant question to ask us. And given below is our answer...
                    </p>
                </div>

                <div>
                    <p class="text-justify">
                        <b>Client Centric Approach:</b>
                        All our offerings are designed keeping you in mind. Your long-term interests serve as the 'primary' influencing factor in our recommendations process.
                    </p>
                </div>

                <div>
                    <p class="text-justify">
                        <b>Rich Product Basket:</b>
                        We offer a single point access to multiple financial products with a holistic need-driven approach & not product centric approach.
                    </p>
                </div>

                <div>
                    <p class="text-justify">
                        <b>Focuss on Customer Satisfaction:</b>
                        We come equipped with the right attitude, people, processes and technology to ensure higher levels of satisfaction and service quality. In transactions, we work systematically to find & ensure quick resolution of any queries or complaints.
                    </p>
                </div>

                <div>
                    <p class="text-justify">
                        <b>Value Added Services:</b>
                        Our Services ensure comfort, convenience, confidence and control to you in managing your wealth. You would enjoy being always updated of your investments, any time, anywhere.
                    </p>
                </div>

                <div>
                    <p class="text-justify">
                        <b>Right Experience & Skills:</b>
                        We have over 10 years of experience in financial advisory and products distribution space. Our experience, qualifications & skills enable us to understand you and your needs, and then offer you the right strategies & solutions to achieve your goals.
                    </p>
                </div>

                <div>
                    <p class="text-justify">
                        <b>Driven by Passion:</b>
                        Serving clients is our passion and the reason why are are in the business. Nothing excites us more that helping our clients achieve their financial goals and dreams in life with our support.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-timeline" role="tabpanel" aria-labelledby="pills-timeline-tab">
        <section class="py-3">
            <ul class="timeline-with-icons">
                <li class="timeline-item mb-5">
                    <span class="timeline-icon">
                        <i class="fas fa-rocket text-primary fa-sm fa-fw"></i>
                    </span>

                    <h5 class="fw-bold">Our company starts its operations</h5>
                    <p class="text-muted mb-2 fw-bold">11 March 2020</p>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                        necessitatibus adipisci, ad alias, voluptate pariatur officia
                        repellendus repellat inventore fugit perferendis totam dolor
                        voluptas et corrupti distinctio maxime corporis optio?
                    </p>
                </li>

                <li class="timeline-item mb-5">

                    <span class="timeline-icon">
                        <i class="fas fa-hand-holding-usd text-primary fa-sm fa-fw"></i>
                    </span>
                    <h5 class="fw-bold">First customer</h5>
                    <p class="text-muted mb-2 fw-bold">19 March 2020</p>
                    <p class="text-muted">
                        Quisque ornare dui nibh, sagittis egestas nisi luctus nec. Sed
                        aliquet laoreet sapien, eget pulvinar lectus maximus vel.
                        Phasellus suscipit porta mattis.
                    </p>
                </li>

                <li class="timeline-item mb-5">

                    <span class="timeline-icon">
                        <i class="fas fa-users text-primary fa-sm fa-fw"></i>
                    </span>
                    <h5 class="fw-bold">Our team exceeds 10 people</h5>
                    <p class="text-muted mb-2 fw-bold">24 June 2020</p>
                    <p class="text-muted">
                        Orci varius natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Nulla ullamcorper arcu lacus, maximus
                        facilisis erat pellentesque nec. Duis et dui maximus dui aliquam
                        convallis. Quisque consectetur purus erat, et ullamcorper sapien
                        tincidunt vitae.
                    </p>
                </li>

                <li class="timeline-item mb-5">

                    <span class="timeline-icon">
                        <i class="fas fa-money-bill-wave text-primary fa-sm fa-fw"></i>
                    </span>
                    <h5 class="fw-bold">Earned the first million $!</h5>
                    <p class="text-muted mb-2 fw-bold">15 October 2020</p>
                    <p class="text-muted">
                        Nulla ac tellus convallis, pulvinar nulla ac, fermentum diam. Sed
                        et urna sit amet massa dapibus tristique non finibus ligula. Nam
                        pharetra libero nibh, id feugiat tortor rhoncus vitae. Ut suscipit
                        vulputate mattis.
                    </p>
                </li>
            </ul>
        </section>
    </div>
</div>

